* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
main {
  /* border: solid; */
  width: 600px;
}

header {
  margin: 1.5rem;
}
p {
  margin-bottom: 1rem;
}
p > span {
  color: rgb(128, 127, 127);
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.input > input {
  padding: 0.4rem;
}
#add-row {
  display: flex;
  justify-content: flex-end;
}

#add-row > button,
#calc > button {
  cursor: pointer;
  padding: 0.1rem 1.3rem 0.1rem 1.3rem;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: aliceblue;
}

#calc {
  margin-bottom: 1rem;
}

#calc > button {
  background: rgb(13, 183, 189);
}

#add-btn {
  background: rgb(220, 20, 60);
}

#reset-btn {
  background: rgb(20, 147, 237);
  margin-right: 1rem;
}

#top-section {
  border-bottom: 2px solid rgb(9, 12, 190);
  margin: 1rem;
}

#output,
.render-output > h1 {
  margin-bottom: 1rem;
}

table {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #b5aeae;

  padding: 8px;
}

@media only screen and (max-width: 550px) {
  .input {
    flex-wrap: wrap;
    justify-content: center;
  }
  #add-row {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
